Repository woowatechcamp/soolsool, pull requests merged in 2023-08, with the labels that each got.

#38 feat: 공통 예외 응답 구현
  src/main/java/com/woowacamp/soolsool/global/exception/DefaultErrorCode.java
  src/main/java/com/woowacamp/soolsool/global/exception/ErrorCode.java
  src/main/java/com/woowacamp/soolsool/global/exception/ErrorResponse.java
  src/main/java/com/woowacamp/soolsool/global/exception/GlobalExceptionHandler.java
  src/main/java/com/woowacamp/soolsool/global/exception/SoolSoolException.java
Labels: feature

#39 feat: 공통 성공 응답 구현
  src/main/java/com/woowacamp/soolsool/global/common/ApiResponse.java
  src/main/java/com/woowacamp/soolsool/global/common/DefaultResultCode.java
  src/main/java/com/woowacamp/soolsool/global/common/ResultCode.java
Labels: feature

#40 feat: 테스트 패키지 구조 설정 및 인수 테스트 기본 클래스 생성
  build.gradle
  src/test/java/com/woowacamp/soolsool/acceptance/AcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/.gitkeep
  src/test/java/com/woowacamp/soolsool/integration/service/.gitkeep
  src/test/java/com/woowacamp/soolsool/unit/.gitkeep
Labels: feature

#42 docs: PR 및 이슈 템플릿 수정
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#44 feat: 회원 엔티티 원시값 포장
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberRole.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberAddress.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberEmail.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberMileage.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberName.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberPassword.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberPhoneNumber.java
  src/main/java/com/woowacamp/soolsool/core/member/exception/MemberErrorCode.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/MemberRoleTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/MemberTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/vo/MemberAddressTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/vo/MemberEmailTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/vo/MemberMileageTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/vo/MemberNameTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/vo/MemberPasswordTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/vo/MemberPhoneNumberTest.java
  src/test/java/com/woowacamp/soolsool/unit/.gitkeep
Labels: feature

#52 feat: 주문서 엔티티 정의
  src/main/java/com/woowacamp/soolsool/core/receipt/Receipt.java
  src/main/java/com/woowacamp/soolsool/core/receipt/ReceiptItem.java
  src/main/java/com/woowacamp/soolsool/core/receipt/converter/ReceiptPriceConverter.java
  src/main/java/com/woowacamp/soolsool/core/receipt/converter/ReceiptQuantityConverter.java
  src/main/java/com/woowacamp/soolsool/core/receipt/exception/ReceiptErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/receipt/vo/ReceiptPrice.java
  src/main/java/com/woowacamp/soolsool/core/receipt/vo/ReceiptQuantity.java
  src/main/java/com/woowacamp/soolsool/global/exception/SoolSoolException.java
  src/test/java/com/woowacamp/soolsool/core/receipt/vo/ReceiptPriceTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/vo/ReceiptQuantityTest.java
Labels: feature

#51 feat: 회원 생성, 조회, 수정, 삭제
  src/main/java/com/woowacamp/soolsool/core/member/api/.gitkeep
  src/main/java/com/woowacamp/soolsool/core/member/application/.gitkeep
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberRole.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberMileage.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberRoleType.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/.gitkeep
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberAddRequest.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/response/.gitkeep
  src/main/java/com/woowacamp/soolsool/core/member/dto/response/MemberFindResponse.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/.gitkeep
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRoleRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/service/MemberService.java
  src/main/java/com/woowacamp/soolsool/global/exception/.gitkeep
  src/main/java/com/woowacamp/soolsool/global/exception/DefaultErrorCode.java
  src/main/java/com/woowacamp/soolsool/global/exception/GlobalExceptionHandler.java
  src/main/resources/application-dev-h2.yml
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/woowacamp/soolsool/.gitkeep
  src/test/java/com/woowacamp/soolsool/acceptance/MemberAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/unit/domain/MemberTest.java
  src/test/java/com/woowacamp/soolsool/unit/service/MemberServiceTest.java
  src/test/resources/application.yml
  src/test/resources/data.sql
Labels: feature

#49 feat: 술 엔티티 원시값 포장
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/Liquor.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorBrew.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorRegion.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorStatus.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorAlcohol.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorBrand.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorImageUrl.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorName.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorPrice.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorStock.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorVolume.java
  src/main/java/com/woowacamp/soolsool/core/liquor/exception/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/global/exception/ShoppingException.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/LiquorBrewTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/LiquorRegionTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/LiquorStatusTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/LiquorTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorAlcoholTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorBrandTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorImageUrlTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorNameTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorPriceTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorStockTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorVolumeTest.java
Labels: feature

#64 feat: 상품 조회 (상세 정보, 목록)
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/converter/LiquorBrewTypeConverter.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/converter/LiquorRegionTypeConverter.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/converter/LiquorStatusTypeConverter.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorRegionType.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorStatusType.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorElementResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/exception/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorBrewRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRegionRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStatusRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderStatus.java
  src/main/java/com/woowacamp/soolsool/global/common/DefaultResultCode.java
  src/main/java/com/woowacamp/soolsool/global/common/LiquorResultCode.java
  src/main/java/com/woowacamp/soolsool/global/config/WebConfig.java
  src/main/java/com/woowacamp/soolsool/global/exception/LiquorErrorCode.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/LiquorRegionRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/LiquorStatusTypeRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/LiquorTypeRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/LiquorServiceTest.java
Labels: feature

#68 feat: 장바구니 상품 엔티티 원시값 포장
  src/main/java/com/woowacamp/soolsool/core/cart/domain/CartItem.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/code/CartErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/vo/CartItemQuantity.java
  src/main/java/com/woowacamp/soolsool/global/exception/GlobalErrorCode.java
  src/test/java/com/woowacamp/soolsool/core/cart/domain/vo/CartItemQuantityTest.java
Labels: feature

#67 feat: member 로그인 구현
  build.gradle
  src/main/java/com/woowacamp/soolsool/core/auth/code/AuthErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/auth/code/AuthResultCode.java
  src/main/java/com/woowacamp/soolsool/core/auth/config/AuthArgumentResolver.java
  src/main/java/com/woowacamp/soolsool/core/auth/config/AuthWebConfig.java
  src/main/java/com/woowacamp/soolsool/core/auth/config/JwtInterceptor.java
  src/main/java/com/woowacamp/soolsool/core/auth/controller/AuthController.java
  src/main/java/com/woowacamp/soolsool/core/auth/dto/LoginRequest.java
  src/main/java/com/woowacamp/soolsool/core/auth/dto/LoginResponse.java
  src/main/java/com/woowacamp/soolsool/core/auth/dto/LoginUser.java
  src/main/java/com/woowacamp/soolsool/core/auth/dto/NoAuth.java
  src/main/java/com/woowacamp/soolsool/core/auth/dto/UserDto.java
  src/main/java/com/woowacamp/soolsool/core/auth/dto/Vendor.java
  src/main/java/com/woowacamp/soolsool/core/auth/service/AuthService.java
  src/main/java/com/woowacamp/soolsool/core/auth/util/AuthorizationExtractor.java
  src/main/java/com/woowacamp/soolsool/core/auth/util/TokenProvider.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/member/code/MemberErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberPassword.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/service/MemberService.java
  src/main/resources/application-dev.yml
  src/test/java/com/woowacamp/soolsool/acceptance/AuthAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/MemberAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/auth/AuthorizationExtractorTest.java
  src/test/java/com/woowacamp/soolsool/core/auth/TokenProviderTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/MemberRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/AuthServiceTest.java
  src/test/resources/application.yml
  src/test/resources/data.sql
Labels: feature

#73 refactor: 술 패키지 리팩터링
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorResultCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorBrand.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorImageUrl.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorName.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/LiquorRegionRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/LiquorStatusTypeRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/LiquorTypeRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/LiquorServiceTest.java
Labels: refactor

#72 refactor: Auth 패키지 변경
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/global/auth/.gitkeep
  src/main/java/com/woowacamp/soolsool/global/auth/code/AuthErrorCode.java
  src/main/java/com/woowacamp/soolsool/global/auth/code/AuthResultCode.java
  src/main/java/com/woowacamp/soolsool/global/auth/config/AuthArgumentResolver.java
  src/main/java/com/woowacamp/soolsool/global/auth/config/AuthWebConfig.java
  src/main/java/com/woowacamp/soolsool/global/auth/config/JwtInterceptor.java
  src/main/java/com/woowacamp/soolsool/global/auth/controller/AuthController.java
  src/main/java/com/woowacamp/soolsool/global/auth/dto/LoginRequest.java
  src/main/java/com/woowacamp/soolsool/global/auth/dto/LoginResponse.java
  src/main/java/com/woowacamp/soolsool/global/auth/dto/LoginUser.java
  src/main/java/com/woowacamp/soolsool/global/auth/dto/NoAuth.java
  src/main/java/com/woowacamp/soolsool/global/auth/dto/UserDto.java
  src/main/java/com/woowacamp/soolsool/global/auth/dto/Vendor.java
  src/main/java/com/woowacamp/soolsool/global/auth/service/AuthService.java
  src/main/java/com/woowacamp/soolsool/global/auth/util/AuthorizationExtractor.java
  src/main/java/com/woowacamp/soolsool/global/auth/util/TokenProvider.java
  src/test/java/com/woowacamp/soolsool/acceptance/AuthAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/MemberAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/global/auth/AuthorizationExtractorTest.java
  src/test/java/com/woowacamp/soolsool/global/auth/TokenProviderTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/AuthServiceTest.java
Labels: refactor

#76 docs: feature template 추가
  .github/ISSUE_TEMPLATE/Custom-template.md
  .github/ISSUE_TEMPLATE/Documentation-template.md
  .github/ISSUE_TEMPLATE/Feature-template.md
  .github/ISSUE_TEMPLATE/Refactor-template.md
Labels: documentation

#77 feat: 장바구니 상품 등록
  src/main/java/com/woowacamp/soolsool/core/cart/code/CartErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/cart/code/CartItemResultCode.java
  src/main/java/com/woowacamp/soolsool/core/cart/controller/CartController.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/Cart.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/CartItem.java
  src/main/java/com/woowacamp/soolsool/core/cart/dto/request/CartItemSaveRequest.java
  src/main/java/com/woowacamp/soolsool/core/cart/repository/CartItemRepository.java
  src/main/java/com/woowacamp/soolsool/core/cart/service/CartService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/Liquor.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/test/java/com/woowacamp/soolsool/acceptance/CartItemAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/CartItemRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/LiquorBrewRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/CartServiceTest.java
  src/test/java/com/woowacamp/soolsool/unit/domain/CartTest.java
Labels: feature

#84 docs: issue template 수정
  .github/ISSUE_TEMPLATE/Documentation-template.md
  .github/ISSUE_TEMPLATE/Feature-template.md
  .github/ISSUE_TEMPLATE/Refactor-template.md
  .github/ISSUE_TEMPLATE/Test-template.md
Labels: documentation

#87 fix: yml 오타 수정 및 property 공통 사용
  .github/workflows/check-code-status.yml
  src/main/resources/application-dev.yml
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: fix

#85 feat: 장바구니 조회, 삭제, 수량 변경 로직 구현
  src/main/java/com/woowacamp/soolsool/core/cart/code/CartErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/cart/code/CartItemResultCode.java
  src/main/java/com/woowacamp/soolsool/core/cart/controller/CartController.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/Cart.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/CartItem.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/code/CartErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/vo/CartItemQuantity.java
  src/main/java/com/woowacamp/soolsool/core/cart/dto/request/CartItemModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/cart/dto/response/CartItemResponse.java
  src/main/java/com/woowacamp/soolsool/core/cart/repository/CartItemRepository.java
  src/main/java/com/woowacamp/soolsool/core/cart/service/CartService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorResultCode.java
  src/test/java/com/woowacamp/soolsool/acceptance/CartItemAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/CartItemRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/CartServiceTest.java
Labels: feature

#88 feat: 멤버 마일리지 충전, 멤버 타입별 가입
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/member/code/MemberErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/member/code/MemberResultCode.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberMileageCharge.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberMileageUsage.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberMileage.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberAddRequest.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberMileageChargeRequest.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberMileageChargeRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberMileageUsageRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRoleRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/service/MemberService.java
  src/main/java/com/woowacamp/soolsool/global/common/LiquorResultCode.java
  src/main/java/com/woowacamp/soolsool/global/config/.gitkeep
  src/test/java/com/woowacamp/soolsool/acceptance/MemberAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/member/service/MemberServiceTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/.gitkeep
  src/test/java/com/woowacamp/soolsool/integration/repository/MemberRoleRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/.gitkeep
Labels: feature

#96 주문 (Order) 엔티티 설계 수정
  src/main/java/com/woowacamp/soolsool/core/order/code/OrderErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/Order.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/OrderItem.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/OrderStatus.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/converter/OrderItemBrewConverter.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/converter/OrderItemTypeConverter.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/converter/OrderMileageUsageConverter.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemBrand.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemBrew.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemImageUrl.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemName.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemPrice.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemQuantity.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderMileageUsage.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderPrice.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderQuantity.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderStatus.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/vo/OrderStatusType.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderStatusRepository.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/MemberMileageUsageTest.java
  src/test/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemBrandTest.java
  src/test/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemImageUrlTest.java
  src/test/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemNameTest.java
  src/test/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemPriceTest.java
  src/test/java/com/woowacamp/soolsool/core/order/domain/vo/OrderItemQuantityTest.java
  src/test/java/com/woowacamp/soolsool/core/order/domain/vo/OrderPriceTest.java
  src/test/java/com/woowacamp/soolsool/core/order/domain/vo/OrderQuantityTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/OrderStatusTypeRepositoryTest.java
  src/test/resources/data.sql
Labels: feature

#102 feat: Liquor expiredAt 컬럼 추가, CRU 로직 및 테스트에 반영
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/Liquor.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorSaveRequest.java
  src/test/java/com/woowacamp/soolsool/acceptance/CartItemAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceTest.java
  src/test/java/com/woowacamp/soolsool/integration/repository/CartItemRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/CartServiceTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/LiquorServiceTest.java
  src/test/java/com/woowacamp/soolsool/unit/domain/CartTest.java
Labels: feature

#100 feat: 주문서 CRU 구현 및 주문서 entity 수정
  src/main/java/com/woowacamp/soolsool/core/cart/domain/Cart.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/CartItem.java
  src/main/java/com/woowacamp/soolsool/core/cart/repository/CartItemRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/response/MemberFindResponse.java
  src/main/java/com/woowacamp/soolsool/core/receipt/Receipt.java
  src/main/java/com/woowacamp/soolsool/core/receipt/ReceiptItem.java
  src/main/java/com/woowacamp/soolsool/core/receipt/ReceiptStatusTypeConverter.java
  src/main/java/com/woowacamp/soolsool/core/receipt/code/ReceiptErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/receipt/code/ReceiptResultCode.java
  src/main/java/com/woowacamp/soolsool/core/receipt/controller/ReceiptController.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/Receipt.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptBaseEntity.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptItem.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptStatus.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/converter/ReceiptPriceConverter.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/converter/ReceiptQuantityConverter.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/vo/ReceiptPrice.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/vo/ReceiptQuantity.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/vo/ReceiptStatusType.java
  src/main/java/com/woowacamp/soolsool/core/receipt/dto/ReceiptItemResponse.java
  src/main/java/com/woowacamp/soolsool/core/receipt/dto/ReceiptModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/receipt/dto/ReceiptResponse.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptRepository.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusRepository.java
  src/main/java/com/woowacamp/soolsool/core/receipt/service/ReceiptMapper.java
  src/main/java/com/woowacamp/soolsool/core/receipt/service/ReceiptService.java
  src/main/java/com/woowacamp/soolsool/global/config/WebConfig.java
  src/test/java/com/woowacamp/soolsool/acceptance/ReceiptAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/MemberTest.java
  src/test/java/com/woowacamp/soolsool/core/member/service/MemberServiceTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/vo/ReceiptPriceTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/vo/ReceiptQuantityTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/ReceiptServiceTest.java
  src/test/resources/application.yml
  src/test/resources/data.sql
Labels: feature

#111 feat: 주문서 CRU 구현
  src/main/java/com/woowacamp/soolsool/core/liquor/config/LiquorConfig.java
  src/main/java/com/woowacamp/soolsool/core/receipt/config/ReceiptConfig.java
  src/main/java/com/woowacamp/soolsool/core/receipt/controller/ReceiptController.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/Receipt.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptBaseEntity.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptItem.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/converter/ReceiptStatusTypeConverter.java
  src/main/java/com/woowacamp/soolsool/core/receipt/dto/ReceiptItemResponse.java
  src/main/java/com/woowacamp/soolsool/core/receipt/dto/ReceiptModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/receipt/dto/response/ReceiptItemResponse.java
  src/main/java/com/woowacamp/soolsool/core/receipt/dto/response/ReceiptResponse.java
  src/main/java/com/woowacamp/soolsool/core/receipt/service/ReceiptService.java
  src/test/java/com/woowacamp/soolsool/acceptance/ReceiptAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/ReceiptServiceTest.java
Labels: feature

#114 feat: KakaoPayReceipt 엔티티 구현
  src/main/java/com/woowacamp/soolsool/core/payment/domain/KakaoPayReceipt.java
Labels: feature

#116 feat: 결제기능 구현 완료
  .github/workflows/check-code-status.yml
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/Liquor.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/vo/MemberMileage.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRepository.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/OrderStatus.java
  src/main/java/com/woowacamp/soolsool/core/payment/code/PayErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/payment/code/PayResultCode.java
  src/main/java/com/woowacamp/soolsool/core/payment/controller/PayController.java
  src/main/java/com/woowacamp/soolsool/core/payment/domain/KakaoPayReceipt.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/PayApproveResponse.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/request/KakaoPayApproveRequest.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/request/KakaoPayReadyRequest.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/request/PayOrderRequest.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/response/KakaoPayApproveResponse.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/response/KakaoPayCardInfo.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/response/KakaoPayReadyResponse.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/response/PayReadyResponse.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/KakaoPayService.java
  src/main/java/com/woowacamp/soolsool/core/payment/repository/KakaoPayReceiptRepository.java
  src/main/java/com/woowacamp/soolsool/core/payment/service/PayService.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/Receipt.java
  src/main/java/com/woowacamp/soolsool/global/config/RestTemplateConfig.java
  src/main/java/com/woowacamp/soolsool/global/infra/SimplePayService.java
  src/main/resources/application-dev.yml
  src/main/resources/application.yml
  src/test/java/com/woowacamp/soolsool/acceptance/ReceiptAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/payment/KakaoPayTest.java
  src/test/resources/application.yml
Labels: feature

#119 refactor: data.sql 추가
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/Liquor.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorName.java
  src/main/resources/application-dev-h2.yml
  src/main/resources/application-dev.yml
  src/main/resources/data.sql
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorNameTest.java
  src/test/java/com/woowacamp/soolsool/integration/service/LiquorServiceTest.java
  src/test/resources/data.sql
Labels: fix

#120 feat: data.sql 환경 분리
  src/main/resources/data.sql
  src/test/resources/application.yml
  src/test/resources/data.sql
Labels: feature

#122 refactor: 코드 리팩터링
  src/main/java/com/woowacamp/soolsool/core/cart/code/CartResultCode.java
  src/main/java/com/woowacamp/soolsool/core/cart/controller/CartController.java
  src/main/java/com/woowacamp/soolsool/core/cart/domain/code/CartErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/global/auth/util/AuthorizationExtractor.java
Labels: refactor

#128 feat: FE 구현을 위한 리팩터링
  src/main/java/com/woowacamp/soolsool/core/payment/code/PayErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/payment/code/PayResultCode.java
  src/main/java/com/woowacamp/soolsool/core/payment/controller/PayController.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/KakaoPayClient.java
  src/main/java/com/woowacamp/soolsool/core/receipt/controller/ReceiptController.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptItem.java
  src/main/java/com/woowacamp/soolsool/global/auth/config/AuthWebConfig.java
  src/main/java/com/woowacamp/soolsool/global/auth/config/JwtInterceptor.java
  src/main/java/com/woowacamp/soolsool/global/auth/util/TokenProvider.java
  src/main/java/com/woowacamp/soolsool/global/config/WebConfig.java
Labels: feature

#133 feat: Logback을 이용한 로그 출력 기능 추가
  .gitignore
  build.gradle
  src/main/java/com/woowacamp/soolsool/core/cart/controller/CartController.java
  src/main/java/com/woowacamp/soolsool/core/cart/dto/request/CartItemModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/cart/dto/request/CartItemSaveRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorStockController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorSaveRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorStockSaveRequest.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberAddRequest.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberMileageChargeRequest.java
  src/main/java/com/woowacamp/soolsool/core/order/controller/OrderController.java
  src/main/java/com/woowacamp/soolsool/core/payment/controller/PayController.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/request/PayOrderRequest.java
  src/main/java/com/woowacamp/soolsool/core/receipt/controller/ReceiptController.java
  src/main/java/com/woowacamp/soolsool/global/auth/controller/AuthController.java
  src/main/java/com/woowacamp/soolsool/global/auth/dto/LoginRequest.java
  src/main/java/com/woowacamp/soolsool/global/code/DefaultErrorCode.java
  src/main/java/com/woowacamp/soolsool/global/exception/GlobalExceptionHandler.java
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
  src/main/resources/logback-spring.xml
Labels: feature

#138 feat: 술 상세정보 조회 시 해당 술과 함께 많이 구매된 술도 조회하여 반환
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/resources/application-dev.yml
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
Labels: feature

#141 refactor: 함께 많이 구매된 술 조회 시 liquorId 대신 Liquor 객체를 바로 조회
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
Labels: refactor

#144 feat: 주문율 쿼리 구현
  src/main/java/com/woowacamp/soolsool/core/order/code/OrderResultCode.java
  src/main/java/com/woowacamp/soolsool/core/order/controller/OrderController.java
  src/main/java/com/woowacamp/soolsool/core/order/dto/response/OrderRatioResponse.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderRepository.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/test/java/com/woowacamp/soolsool/acceptance/OrderAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/order/repository/OrderRepositoryTest.java
  src/test/resources/receipt.sql
Labels: feature

#151 feat: 마일리지 사용 내역 저장 구현
  src/main/java/com/woowacamp/soolsool/core/liquor/config/LiquorConfig.java
  src/main/java/com/woowacamp/soolsool/core/member/code/MemberErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberMileageUsage.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/response/MemberDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/member/service/MemberService.java
  src/main/java/com/woowacamp/soolsool/core/order/code/OrderErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/main/java/com/woowacamp/soolsool/core/payment/controller/PayController.java
  src/main/java/com/woowacamp/soolsool/core/payment/service/PayService.java
  src/main/java/com/woowacamp/soolsool/core/receipt/code/ReceiptErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/receipt/service/ReceiptService.java
  src/test/java/com/woowacamp/soolsool/acceptance/MemberAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/PayAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/fixture/RestMemberFixture.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/MemberMileageUsageTest.java
  src/test/java/com/woowacamp/soolsool/core/member/service/MemberServiceTest.java
Labels: feature

#150 feat: 결제 수단 기능 추가, 카카오페이 로직 리팩토링
  src/main/java/com/woowacamp/soolsool/core/order/code/OrderErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/OrderPaymentInfo.java
  src/main/java/com/woowacamp/soolsool/core/order/dto/response/OrderDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/order/dto/response/OrderPaymentInfoResponse.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderPaymentInfoRepository.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/main/java/com/woowacamp/soolsool/core/payment/code/PayErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/payment/dto/response/PayApproveResponse.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/KakaoPayClient.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/dto/response/KakaoPayApproveResponse.java
  src/main/java/com/woowacamp/soolsool/core/payment/repository/PayRepository.java
  src/main/java/com/woowacamp/soolsool/core/payment/service/PayService.java
  src/test/java/com/woowacamp/soolsool/acceptance/OrderAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/order/repository/OrderPaymentInfoRepositoryTest.java
  src/test/resources/order.sql
Labels: feature

#135 feat: 캐쉬 성능 개선
  build.gradle
  src/main/java/com/woowacamp/soolsool/SoolsoolApplication.java
  src/main/java/com/woowacamp/soolsool/core/cart/repository/CartItemRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorBrewCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRegionCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRoleCache.java
  src/main/java/com/woowacamp/soolsool/core/member/service/MemberService.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/receipt/service/ReceiptMapper.java
  src/main/java/com/woowacamp/soolsool/global/common/CacheType.java
  src/main/java/com/woowacamp/soolsool/global/config/CaffeineCacheConfig.java
  src/test/java/com/woowacamp/soolsool/core/cart/service/CartServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/member/service/MemberServiceTest.java
  src/test/java/com/woowacamp/soolsool/core/order/service/OrderServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/service/ReceiptServiceIntegrationTest.java
Labels: feature

#152 feat: 클릭률 구현
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorCtrErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorCtrResultCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorCtrController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorCtr.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/converter/LiquorCtrClickConverter.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/converter/LiquorCtrImpressionConverter.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorCtrClick.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorCtrImpression.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorElementResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/response/LiquorCtrDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorCtrRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorCtrService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorCtrAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/fixture/RestLiquorFixture.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/LiquorCtrTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorCtrClickTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/vo/LiquorCtrImpressionTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/repository/LiquorCtrRepositoryTest.java
  src/test/resources/liquor-ctr.sql
Labels: feature

#159 feat: Redisson 설치
  .github/workflows/check-code-status.yml
  build.gradle
  src/main/java/com/woowacamp/soolsool/global/config/RedissonConfig.java
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
  src/test/resources/application.yml
Labels: feature

#164 ci: Redis setup action 추가
  .github/workflows/check-code-status.yml
Labels: ci

#175 feat: 주문서가 파기된 후 주문서 상태를 변경하는 로직 추가
  src/main/java/com/woowacamp/soolsool/SoolsoolApplication.java
  src/main/java/com/woowacamp/soolsool/core/receipt/event/ReceiptExpiredEvent.java
  src/main/java/com/woowacamp/soolsool/core/receipt/event/listener/ReceiptExpiredEventListener.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/redisson/ReceiptRedisRepository.java
  src/main/java/com/woowacamp/soolsool/core/receipt/service/ReceiptService.java
  src/main/java/com/woowacamp/soolsool/global/config/RedissonConfig.java
  src/test/java/com/woowacamp/soolsool/acceptance/ReceiptAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/repository/redisson/ReceiptRedisRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/service/ReceiptServiceIntegrationTest.java
Labels: feature

#171 feat: 페이지 네이션 커서 기반 변경, 첫 페이지 캐쉬 적용
  .gitignore
  build.gradle
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorElementResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorSearchCondition.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/PageLiquorResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/core/order/controller/OrderController.java
  src/main/java/com/woowacamp/soolsool/core/order/dto/response/OrderListResponse.java
  src/main/java/com/woowacamp/soolsool/core/order/dto/response/PageOrderListResponse.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderPaymentInfoRepository.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderQueryRepository.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/KakaoPayClient.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/dto/response/KakaoPayApproveResponse.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/dto/response/KakaoPayCardInfo.java
  src/main/java/com/woowacamp/soolsool/core/payment/infra/dto/response/KakaoPayReadyResponse.java
  src/main/java/com/woowacamp/soolsool/global/common/CacheType.java
  src/main/java/com/woowacamp/soolsool/global/config/CaffeineCacheConfig.java
  src/main/java/com/woowacamp/soolsool/global/config/QuerydslConfig.java
  src/main/resources/application.yml
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/OrderAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/config/QuerydslTestConfig.java
  src/test/java/com/woowacamp/soolsool/core/cart/service/CartServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/order/service/OrderServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/service/ReceiptServiceIntegrationTest.java
  src/test/resources/application.yml
Labels: feature

#170 feat: 주문 취소 endpoint 구현
  src/main/java/com/woowacamp/soolsool/core/member/domain/Member.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberMileageCharge.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/OrderMemberServiceImpl.java
  src/main/java/com/woowacamp/soolsool/core/member/dto/request/MemberMileageChargeRequest.java
  src/main/java/com/woowacamp/soolsool/core/order/code/OrderResultCode.java
  src/main/java/com/woowacamp/soolsool/core/order/controller/OrderController.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/Order.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderQueryRepository.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderMemberService.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/main/resources/application.yml
  src/test/java/com/woowacamp/soolsool/acceptance/MemberAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/OrderAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/member/domain/MemberMileageChargeTest.java
  src/test/java/com/woowacamp/soolsool/core/member/service/MemberServiceTest.java
  src/test/java/com/woowacamp/soolsool/core/order/service/OrderServiceIntegrationTest.java
Labels: feature

#180 fix:application.yml
  src/main/resources/application.yml
Labels: fix

#188 refactor: autoIncrement로 변경
  src/main/java/com/woowacamp/soolsool/core/cart/domain/CartItem.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/Liquor.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorBrew.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorCtr.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorRegion.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorStatus.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorStock.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorBrewCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRegionCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberMileageCharge.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberMileageUsage.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/MemberRole.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/Order.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/OrderPaymentInfo.java
  src/main/java/com/woowacamp/soolsool/core/order/domain/OrderStatus.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/payment/domain/KakaoPayReceipt.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/Receipt.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptItem.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/ReceiptStatus.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusCache.java
  src/main/java/com/woowacamp/soolsool/global/common/CacheType.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
Labels: refactor

#182 feat: 비관 락을 분산 락으로 변경한다.
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorCtrRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStockRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorStockService.java
  src/main/java/com/woowacamp/soolsool/core/member/code/MemberErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/member/domain/OrderMemberServiceImpl.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/service/MemberService.java
  src/main/java/com/woowacamp/soolsool/core/order/code/OrderErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/main/java/com/woowacamp/soolsool/core/payment/code/PayErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/payment/service/PayService.java
  src/main/java/com/woowacamp/soolsool/global/infra/LockType.java
  src/test/java/com/woowacamp/soolsool/core/cart/service/CartServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/member/service/MemberServiceTest.java
  src/test/java/com/woowacamp/soolsool/core/order/service/OrderServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/service/ReceiptServiceIntegrationTest.java
Labels: feature

#192 feat: 지연 쓰기 구현 및 클릭률 조회 기준을 Redis로 변경
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorCtr.java
  src/main/java/com/woowacamp/soolsool/core/liquor/event/LiquorCtrExpiredEvent.java
  src/main/java/com/woowacamp/soolsool/core/liquor/event/listener/LiquorCtrExpiredEventListener.java
  src/main/java/com/woowacamp/soolsool/core/liquor/infra/RedisLiquorCtr.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/redisson/LiquorCtrRedisRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorCtrService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorCtrAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/core/cart/service/CartServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/repository/redisson/LiquorCtrRedisRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/service/ReceiptServiceIntegrationTest.java
Labels: feature, perf

#193 fix: 지연 쓰기 누락 사항 추가
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
Labels: fix

#198 feat: Logback Slack 수정
  src/main/resources/logback-spring.xml
Labels: feature
