Repository woowatechcamp/soolsool, pull requests merged in 2023-09, with the labels that each got.

#200 feat: handler method logging AOP 추가
  src/main/java/com/woowacamp/soolsool/core/cart/controller/CartController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorCtrController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorStockController.java
  src/main/java/com/woowacamp/soolsool/core/member/controller/MemberController.java
  src/main/java/com/woowacamp/soolsool/core/order/controller/OrderController.java
  src/main/java/com/woowacamp/soolsool/core/payment/controller/PayController.java
  src/main/java/com/woowacamp/soolsool/core/receipt/controller/ReceiptController.java
  src/main/java/com/woowacamp/soolsool/core/statistics/controller/StatisticsController.java
  src/main/java/com/woowacamp/soolsool/global/aop/RequestLogging.java
  src/main/java/com/woowacamp/soolsool/global/aop/RequestLoggingAspect.java
Labels: feature

#217 test: Redis 테스트 환경을 Testcontainers 기반으로 변경
  .github/workflows/check-code-status.yml
  build.gradle
  src/test/java/com/woowacamp/soolsool/acceptance/AcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/config/RedisTestConfig.java
  src/test/java/com/woowacamp/soolsool/core/cart/service/CartServiceIntegrationTest.java
Labels: test

#213 refactor: 캐쉬 리팩터링
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorSearchCondition.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorBrewCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRegionCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/redisson/LiquorCtrRedisRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/core/member/repository/MemberRoleCache.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusCache.java
  src/main/java/com/woowacamp/soolsool/global/config/CaffeineCacheConfig.java
  src/main/java/com/woowacamp/soolsool/global/infra/CacheType.java
  src/test/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepositoryTest.java
Labels: refactor

#219 refactor: LiquorCtr 반영 방식 리팩토링
  src/main/java/com/woowacamp/soolsool/SoolsoolApplication.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/LiquorCtr.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/event/LiquorCtrExpiredEvent.java
  src/main/java/com/woowacamp/soolsool/core/liquor/event/listener/LiquorCtrExpiredEventListener.java
  src/main/java/com/woowacamp/soolsool/core/liquor/infra/RedisLiquorCtr.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorCtrRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/redisson/LiquorCtrRedisRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorCtrService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/global/common/BaseEntity.java
  src/test/java/com/woowacamp/soolsool/core/liquor/domain/LiquorCtrTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/repository/redisson/LiquorCtrRedisRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
Labels: refactor

#226 refactor: 여러 개의 RLock을 MultiLock으로 관리
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/redisson/LiquorCtrRedisRepository.java
  src/main/java/com/woowacamp/soolsool/core/member/service/MemberService.java
  src/main/java/com/woowacamp/soolsool/core/order/service/OrderService.java
  src/main/java/com/woowacamp/soolsool/core/payment/service/PayService.java
Labels: refactor

#214 feat: 첫 페이지 캐싱을 redis 로 변경
  build.gradle
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/PageLiquorResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorBrewCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorRegionCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/core/order/repository/OrderStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusCache.java
  src/main/java/com/woowacamp/soolsool/global/config/CachingConfigurerSupport.java
  src/main/java/com/woowacamp/soolsool/global/config/CaffeineCacheConfig.java
  src/main/java/com/woowacamp/soolsool/global/config/MultipleCacheManagerConfig.java
  src/main/java/com/woowacamp/soolsool/global/infra/CaffeineCacheType.java
  src/main/java/com/woowacamp/soolsool/global/infra/RedisCacheType.java
  src/test/java/com/woowacamp/soolsool/config/QuerydslTestConfig.java
  src/test/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/order/service/OrderServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/repository/ReceiptStatusRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/receipt/service/ReceiptServiceIntegrationTest.java
Labels: feature

#233 refactor: 상품 상세정보, 연관상품, 클릭수, 노출수 API 분리
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorCtrResultCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorResultCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorCtrController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorStockController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/domain/Liquor.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquor/LiquorDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquor/LiquorElementResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquor/LiquorModifyRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquor/LiquorSaveRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquor/LiquorSearchCondition.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquor/PageLiquorResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquorCtr/LiquorClickAddRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquorCtr/LiquorImpressionAddRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquorStock/LiquorCtrDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquorStock/LiquorStockSaveRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorBrewCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepository.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorCtrService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorStockService.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorCtrAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorStockAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/fixture/RestLiquorCtrFixture.java
  src/test/java/com/woowacamp/soolsool/acceptance/fixture/RestLiquorFixture.java
  src/test/java/com/woowacamp/soolsool/acceptance/fixture/RestLiquorStockFixture.java
  src/test/java/com/woowacamp/soolsool/core/liquor/repository/LiquorQueryDslRepositoryTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorCtrServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorStockServiceIntegrationTest.java
Labels: refactor

#224 feat: 통계 top5 price, quantity 상품 조회 기능 추가
  src/main/java/com/woowacamp/soolsool/core/statistics/code/StatisticsResultCode.java
  src/main/java/com/woowacamp/soolsool/core/statistics/controller/StatisticController.java
  src/main/java/com/woowacamp/soolsool/core/statistics/controller/StatisticsController.java
  src/main/java/com/woowacamp/soolsool/core/statistics/domain/Statistic.java
  src/main/java/com/woowacamp/soolsool/core/statistics/domain/StatisticId.java
  src/main/java/com/woowacamp/soolsool/core/statistics/domain/StatisticLiquor.java
  src/main/java/com/woowacamp/soolsool/core/statistics/domain/StatisticLiquorImpl.java
  src/main/java/com/woowacamp/soolsool/core/statistics/domain/StatisticLiquors.java
  src/main/java/com/woowacamp/soolsool/core/statistics/dto/response/LiquorSalePriceResponse.java
  src/main/java/com/woowacamp/soolsool/core/statistics/dto/response/LiquorSaleQuantityResponse.java
  src/main/java/com/woowacamp/soolsool/core/statistics/infra/StatisticJpaRepository.java
  src/main/java/com/woowacamp/soolsool/core/statistics/infra/StatisticRedis.java
  src/main/java/com/woowacamp/soolsool/core/statistics/infra/StatisticRedisImpl.java
  src/main/java/com/woowacamp/soolsool/core/statistics/infra/StatisticRepositoryImpl.java
  src/main/java/com/woowacamp/soolsool/core/statistics/repository/StatisticRepository.java
  src/main/java/com/woowacamp/soolsool/core/statistics/service/StatisticService.java
  src/main/java/com/woowacamp/soolsool/core/statistics/service/StatisticsService.java
  src/test/java/com/woowacamp/soolsool/core/statistics/domain/StatisticTest.java
Labels: feature

#229 feat: 주문서 만료 시 COMPLETED 여부 확인 & 결제 완료 시 Redis 주문서 정보 삭제
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/redisson/LiquorCtrRedisRepository.java
  src/main/java/com/woowacamp/soolsool/core/payment/service/PayService.java
  src/main/java/com/woowacamp/soolsool/core/receipt/code/ReceiptErrorCode.java
  src/main/java/com/woowacamp/soolsool/core/receipt/domain/Receipt.java
  src/main/java/com/woowacamp/soolsool/core/receipt/event/ReceiptRemoveEvent.java
  src/main/java/com/woowacamp/soolsool/core/receipt/event/listener/ReceiptEventListener.java
  src/main/java/com/woowacamp/soolsool/core/receipt/repository/redisson/ReceiptRedisRepository.java
  src/main/java/com/woowacamp/soolsool/core/receipt/service/ReceiptService.java
  src/main/java/com/woowacamp/soolsool/global/infra/LockType.java
Labels: feature

#236 refactor: 상품 상세정보, 연관상품, 클릭수, 노출수 API 분리
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorCtrResultCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/code/LiquorResultCode.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/controller/LiquorCtrController.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/LiquorDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/PageLiquorResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquorCtr/LiquorClickAddRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquorCtr/LiquorCtrDetailResponse.java
  src/main/java/com/woowacamp/soolsool/core/liquor/dto/liquorCtr/LiquorImpressionAddRequest.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorBrewCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/repository/LiquorStatusCache.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorCtrService.java
  src/main/java/com/woowacamp/soolsool/core/liquor/service/LiquorService.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/LiquorCtrAcceptanceTest.java
  src/test/java/com/woowacamp/soolsool/acceptance/fixture/RestLiquorCtrFixture.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorCtrServiceIntegrationTest.java
  src/test/java/com/woowacamp/soolsool/core/liquor/service/LiquorServiceIntegrationTest.java
Labels: refactor
